<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/icon.ico" type="image/x-icon">
    <title>Student Hostel System | Claretian University of Nigeria, Nekede</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <br>
        {% block content %}
        {% endblock%}
    </div>
    
    <script src="../static/bootstrap.min.js"></script>
</body>
</html>